extends layout

block content
  h1 Tags
  h2 Phactum GmbH
  table
    tr
      th ID
      th Name
      th
    - for (var i = 10; i--; )
      tr
        td= i
        td= 'tag_' + i
        td
          a(href="/delete?id=" + i) Delete
          a(href="/edit?id=" + i) Edit